@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: auto;
}
body {
  background-color: #1e1f21;
  font-family: "Lexend", sans-serif;
}
.height {
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 50%;
  height: auto;
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 5px 10px 0 #00459f;
}
.w100 {
  width: 100%;
}
