<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="box1 mg2">
                <div class="w100">
                    <h1 class="h1">Fill up form</h1>
                    <form method="post" class="mg" enctype="multipart/form-data">
                    
                        <div class="divmg">
                            <label class="h2">Book's image</label>
                            <div class="center">
                                <input type="file" name="pname" class="dnone" id="img"/>
                                <label for="img" class="uploadimg">Book cover image</label>
                            </div>
                        </div>

                        <div class="divmg">
                            <label class="h2">Book's title</label>
                            <div class="center">
                                <input type="text" name="title" placeholder="Enter book title" class='input'/>
                            </div>
                        </div>

                    <div class="divmg">
                        <label class="h2">Author name</label>
                        <div class="center">
                            <input type="text" name="aname" placeholder="Enter book Author name" class='input'/>
                        </div>
                    </div>

                    <div class="divmg">
                        <label class="h2">Book's publish date</label>
                        <div class="center">
                            <input type="date" name="date" placeholder="Enter book publish date"/>
                        </div>
                        </div>

                    <div class="divmg">
                        <label class="h2">Rate the book</label>
                        <div class="center">
                            <input type="text" name="rate" placeholder="Enter book rating" class='input'/>
                        </div>
                        </div>

                        <div class="divmg">
                        <label class="h2">Book genre</label>
                        <div class="center">
                            <select name="bookg">
                                <option value="Action and Adventure
                                ">Action and Adventure
                            </option>
                                <option value="Classics">Classics</option>
                                <option value="Comic Book or Graphic Novel">Comic Book or Graphic Novel</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Horror">Horror</option>
                            </select>
                        </div>
                        </div>

                        <div class="divmg">
                            <label class="h2">Book's price</label>
                            <div class="center">
                                <input type="text" name="price" placeholder="Enter book price" class='input'/>
                            </div>
                            </div>
                                
                        <div class="center">
                            <input type="submit" value="Submit" class='btn'/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>     