<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="box1 mg3">
                <div class="w100">
                    <h1 class="h1">Sign up</h1>
                    <form method="post" class="mg">

                        <div class="divmg">
                            <label class="h2">User name</label>
                            <div class="center">
                                <input type="text" name="name" placeholder="Enter your name" class='input'/>
                            </div>
                        </div>

                    <div class="divmg">
                        <label class="h2">Email</label>
                        <div class="center">
                            <input type="text" name="email" placeholder="Enter your email" class='input'/>
                        </div>
                    </div>

                    <div class="divmg">
                        <label class="h2">Password</label>
                        <div class="center">
                            <input type="text" name="password" placeholder="Enter your password" class='input'/>
                        </div>
                    </div>    
                        <div class="center">
                            <input type="submit" value="Submit" class='btn'/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mg3">
    <div class="container">
        <div class="row">
            <a href="/books/create" class="atag2">Add new book</a>
        </div>
    </div>
</section>
</body>
</html>     