
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section>
<div class="container">
    <div class="row jcc sec">
        <div class="signup">
            <div class="w100 signupa row  ac">
                <div class="half ac">
                    <div class="w100">
                        <img src="img/bg.png" alt="Sign Up" class="imgwidth" title="Sign Up">
                    </div>
                </div>
                <div class="half">
                    <div class="w100 mc ac">
                        <h1 class="h1">Sign Up</h1>
                      <form class="form" method="post">
                        <div class="mc1">
                            <label class="label">Name</label>
                            <input type="text" class="input" name="name" placeholder="Enter your name">
                        </div>
                        <div class="mc1">
                            <label class="label">Email</label>
                            <input type="text" class="input" name="username" placeholder="Enter your Email">
                        </div>
                        <div class="mc1">
                            <label class="label">Password</label>
                            <input type="text" class="input" name="password" placeholder="Enter your Password">
                        </div>
                        <div class="mc1">
                            <input type="submit" value="Sign Up" class="btn"/>
                        </div>
                      </form>

                      <div class="row">
                        <p class="ac ptagtext">dddddddd</p>
                        <a href="/login" class="btn2 ac">Login</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>