<section class="bg4 p-50px">
	<div class="container">
        
        <div class="row justify-content-between">

		<div class="col-12 col-md-3">
			<div class="w-100">
				<ul class="d-flex flex-wrap">
					<li class="pad2"><i class="fab fa-facebook-f icon rounded-3"></i></li>
					<li class="pad2"><i class="fab fa-instagram icon rounded-3"></i></li>
					<li class="pad2"><i class="fab fa-twitter icon rounded-3"></i></li>
					<li class="pad2"><i class="fab fa-linkedin-in icon rounded-3"></i></li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="w-100">
				<h6 class="text-white pb-3">Company</h6>
				<ul class="p-0">
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>About us</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Services</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Team</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Pricing</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Blog</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Project</a></li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="w-100">
				<h6 class="text-white pb-3">Usefull Links</h6>
				<ul class="p-0">
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Terms of Services</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Privacy Policy</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Contact Us</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Changelog</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Components</a></li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="w-100">
				<h6 class="text-white pb-3">Resources</h6>
				<ul class="p-0">
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Theme guide</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Support desk</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>What we offer</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Company history</a></li>
				</ul>
			</div>
		</div>

		</div>
	</div>
</section>

<section class="bg4 footer-border p-25px">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-sm-4 text-center text-sm-start">
				<div class="w-100">
					<a href="#">
					<img src="images/logo-light.png" class="img-fluid" alt="" title="" />
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-8 text-center text-sm-end">
				<div class="w-100">
					<p class="footer-color m-0 py-1">2022 © Starty. Design with <i class="fas fa-heart text-danger"></i> by Shreethemes.</p>
				</div>
			</div>
		</div>
	</div>
</section>