<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
    <h1 class="acself mg10 ptagcolor fsize">Hello , <%= session.UName %></h1>
    <a href="/Profile/logout" class="acself atag2data mg10">Logout</a>
</div>
</div>
</section>
</body>
</html>