@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: auto;
}
a{
  text-decoration: none;
}
body {
  background-color: #1e1f21;
  font-family: "Lexend", sans-serif;
}
.height {
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 40%;
  height: auto;
  padding: 25px;
  background-color: white;
  box-shadow: 5px 10px 0 crimson;
  
}

.box5 {
  width: 30%;
  height: auto;
  padding: 25px;
  background-color: white;
  box-shadow: 5px 10px 0 crimson;
}

.box1 {
  width: 80%;
  height: auto;
  padding: 25px;
  background-color: white;
  box-shadow: 5px 10px 0 crimson;
}
.w100 {
  width: 100%;
}
.h1 {
  color: #1e1f21;
  text-align: center;
  font-size: 40px;
}
.inputs{
  color: #1e1f21;
  width: 84%;
  height: 40px;
  background-color: white;
  border: 2px solid crimson;
  text-indent: 20px;
  font-family: "Lexend", sans-serif;
  border-radius: 10px;
  margin: 5px 0;
}
.input {
  color: #1e1f21;
  width: 100%;
  height: 40px;
  background-color: white;
  border: 2px solid crimson;
  text-indent: 20px;
  font-family: "Lexend", sans-serif;
  border-radius: 10px;
  margin: 5px 0;
}
::placeholder {
  color: #1e1f21;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}
.btn {
  color: white;
  width: 20%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background-color: crimson;
  border: 2px solid crimson;
  border-radius: 10px;
  font-family: "Lexend", sans-serif;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid crimson;
  color: crimson;
}
.btnsearch{
  color: white;
  width: 15%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background-color: crimson;
  border: 2px solid crimson;
  border-radius: 10px;
  font-family: "Lexend", sans-serif;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.5s;
}
.center {
  justify-content:flex-start;
  display: flex;
}
.mg {
  margin: 20px 0;
}

table {
  width: 100%;
  text-align: center;
  background-color: transparent;
  height: auto;
}
table tr th {
  height: 30px;
  font-size: 18px;
  color: #1e1f21;
}
table tr td {
  height: 30px;
  font-size: 16px;
  color: crimson;
}
.atag {
  width: 150px !important;
  height: 40px !important;
  line-height: 40px !important;
  text-decoration: none !important;
  color: white !important;
  font-size: 20px !important;
  background-color: crimson !important;
  border: 2px solid crimson !important;
  border-radius: 10px !important;
  font-family: "Lexend", sans-serif !important;
  margin: 25px 0 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  transition: all 0.5s !important;
}
.atag:hover {
  background-color: transparent !important;
  border: 2px solid crimson  !important;
  color: crimson !important;
}
.btnaction {
  background-color: transparent;
  color: crimson ;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius:50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid crimson;
  transition: all 0.5s;
  margin: 15px 0;
}
.btnaction:hover {
  color: white;
  background-color: crimson;
}
.textcenter{
  display: flex;
  justify-content: center;
}
.h2{
  color: #1e1f21;
  font-size: 20px;
  text-indent: 5px;
  display: block;
  margin: 5px 0;
}
.divmg{
  margin: 15px 0;
}
.center1{
  text-indent: 5px;
}
.input1 {
  color: #1e1f21;
  font-size: 18px !important;
  margin: 0 5px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  transition: all 0.5s;
  border: 2px solid crimson;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: crimson;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid crimson;
  transition: all 0.5s;
}
.uploadimg {
  background-color: crimson;
  color: white ;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius:10px;
  text-align: center;
  line-height: 35px;
  border: 2px solid crimson;
  transition: all 0.5s;
}
.uploadimg:hover {
  color: crimson;
  background-color: transparent;
}
.dnone{
  display: none;
}

.atag2 {
  width: 250px !important;
  height: 40px !important;
  line-height: 40px !important;
  text-decoration: none !important;
  color: white !important;
  font-size: 20px !important;
  background-color: crimson !important;
  border: 2px solid crimson !important;
  border-radius: 10px !important;
  font-family: "Lexend", sans-serif !important;
  margin: 25px 0 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  transition: all 0.5s !important;
}
.atag2:hover {
  background-color: transparent !important;
  border: 2px solid crimson !important;
  color: crimson !important;
}
.mg2{
  margin: 100px 0;
}
.mg2a{
  margin: 50px 0;
}
.jsb{
  justify-content: space-between;
}
.dataimg{
  width: 100px;
  height: 100px;
  margin: 10px 0;
}
.rowdata {
  display: flex;
  justify-content: center;
}
.h1data{
  color: crimson;
  text-align: center;
  margin: 5px 0;
}
.pdata{
  color: grey;
  font-size: 16px;
  margin: 5px 0;
}
.pdata2{
  color: crimson;
  font-size: 16px;
  margin: 5px 0;
  font-weight: 600;
}
.jsbdata{
  justify-content: space-between;
}
.divrow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
select {
  background-color:transparent;
  color:crimson;
  font-family: 'jost';
  text-indent: 25px;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid crimson;
}
.jsbdata2{
  justify-content: center;
}
.btnaction2 {
  background-color: transparent;
  color: crimson ;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius:50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid crimson;
  transition: all 0.5s;
  margin: 15px 0;
}
.btnaction2:hover {
  color: white;
  background-color: crimson;
}
.mgpage{
  margin: 10px 5px;
}
input[type='date'] {
background-color: crimson;
outline: none;
padding:10px 15px;
font-family: 'jost';
color: white;
font-size: 18px;
border: none;
border-radius: 5px;
}
.acenter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.acself{
  align-self: center;
}