<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/media.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css"/>
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

			<header class="w-100 py-4 bg-header sticky z-index3">
		<div class="container">
        <div class="d-flex flex-wrap justify-content-between">
           <a href="#">
           	<img src="images/logo-dark.png" class="img-fluid align-self-center" alt="" title="" />
           </a>

        <div class="d-flex">
           	<ol class="m-0 d-block d-lg-none align-self-center pe-3">
           	<li><a href="#" class="header-a2"><i class="fas fa-search"></i></a></li>
            </ol>
             
            <button class="m-0 border-0 bg-transpert align-self-center">
            <div class="m-0 line border-0">
            	<span></span>
            	<span></span>
            	<span></span>
            </div>
            </button>
            </div>

           <ul class="d-flex flex-wrap m-0 align-self-center">
           	<li class="px-3"><a href="index.html" target="_blank" class="header-a1">Home</a></li>
           	<li class="px-3"><a href="team.html" class="header-a" target="_blank">Pages</a></li>
           	<li class="px-3"><a href="work.html" class="header-a" target="_blank">Portfolio</a></li>
           	<li class="px-3"><a href="work1.html" class="header-a" target="_blank">Blogs</a></li>
           	<li class="px-3"><a href="blog.html" class="header-a" target="_blank">Contact us</a></li>
           	<li class="d-none d-lg-block"><a href="#" class="header-a2"><i class="fas fa-search"></i></a></li>
           </ul>
            </div>			
		</div>
	</header>

	<section class="py-3 bg-white">
     <div class="container">
     	<div class="row justify-content-between">

     		     <div class="col-8">
                 <div class="w-100">
     			<ul class="list-unstyled align-self-center m-0 d-flex flex-wrap">
     				<li class="text14"><a href="#" class="text-primary"><i class="fas fa-envelope pe-2"></i><span class="text-muted">support@starty.com</span></a></li>
     				<li class="text14 ps-3"><a href="#" class="text-primary"><i class="fas fa-map-marker-alt pe-2"></i><span class="text-muted">4432 Pick Street Denver, CO 80203</span></a></li>
     			</ul>
     			 </div>
                 </div>
                 <div class="col-4">
                 <div class="w-100">
     			<ul class="d-flex flex-wrap justify-content-end m-0">
     				<li class="px-1"><a href="#" class="text-muted color2"><i class="fab fa-facebook-f"></i></a></li>
     				<li class="px-1"><a href="#" class="text-muted color2"><i class="fab fa-instagram"></i>
     				</a></li>
     				<li class="px-1"><a href="#" class="text-muted color2"><i class="fab fa-twitter"></i></a></li>
     				<li class="px-1"><a href="#" class="text-muted color2"><i class="fab fa-linkedin"></i></i></a></li>
     			</ul>
                 </div>
                 </div>

     	</div>
     </div>
	</section>

	<section class="pad bg">
			<div class="container">
					<div class="w-100">
						<div class="row justify-content-between">
						<div class="col-12 col-lg-6 align-self-center">
							<div class="w-100">
								<h1 class="mb-4 color">Insuring Your Future From Today</h1>
								<p class="text-muted p-line-height pb-3">From banking to wealth management and securities distribution, we dedicated financial services the teams serve all major sectors.</p>
								<a href="#" class="py-3 px-4 shadow-sm btn btn-primary rounded-pill">Work With us</a>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="w-100">
                              	<img src="images/1.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

<section class="pad">
	<div class="container">
		<div class="col-12">
			<div class="w-100 text-center">
			<h3 class="color fw-600 mb-4">Explore Solutions</h3>
			<p class="text-muted p-line-height">Our design projects are fresh and simple and will benefit your business greatly. <br>Learn more about our work!</p>				
			</div>
		</div>

		<div class="w-100 pt-5">
			<div class="row justify-content-between">

             <div class="col-12 col-md-6 col-lg-4  py-3">
             	<div class="w-100 hover1 p-4 border rounded-3">
             			<i class="fas fa-desktop p-3 d-inline-block font-size24 rounded-3"></i>
             		<h5 class="h5 pt-3">Responsive Design</h5>
             		<p class="text-muted p-line-height mt-3">This prevents repetitive patterns from impairing the overall facilitates the comparison.</p>
             	</div>
             </div>

                        <div class="col-12 col-md-6 col-lg-4 py-3">
             	<div class="w-100 hover1 p-4 border rounded-3">
             			<i class="far fa-eye p-3 d-inline-block font-size24 rounded-3"></i>
             		<h5 class="h5 pt-3">Retina Ready Graphics</h5>
             		<p class="text-muted p-line-height mt-3">This prevents repetitive patterns from impairing the overall facilitates the comparison.</p>
             	</div>
             </div>

                        <div class="col-12 col-md-6 col-lg-4 py-3">
             	<div class="w-100 hover1 p-4 border rounded-3">
             			<i class="fas fa-tachometer-alt p-3 d-inline-block font-size24 rounded-3"></i>
             		<h5 class="h5 pt-3">Powerful Performance</h5>
             		<p class="text-muted p-line-height mt-3">This prevents repetitive patterns from impairing the overall facilitates the comparison.</p>
             	</div>
             </div>

                        <div class="col-12 col-md-6 col-lg-4 py-3">
             	<div class="w-100 hover1 p-4 border rounded-3">
             			<i class="fas fa-palette p-3 d-inline-block font-size24 rounded-3"></i>
             		<h5 class="h5 pt-3">Unlimited Color Options</h5>
             		<p class="text-muted p-line-height mt-3">This prevents repetitive patterns from impairing the overall facilitates the comparison.</p>
             	</div>
             </div>

                        <div class="col-12 col-md-6 col-lg-4 py-3">
             	<div class="w-100 hover1 p-4 border rounded-3">
             			<i class="fas fa-font p-3 d-inline-block font-size24 rounded-3"></i>
             		<h5 class="h5 pt-3">Customizable Fonts</h5>
             		<p class="text-muted p-line-height mt-3">This prevents repetitive patterns from impairing the overall facilitates the comparison.</p>
             	</div>
             </div>

                        <div class="col-12 col-md-6 col-lg-4 py-3">
             	<div class="w-100 hover1 p-4 border rounded-3">
             			<i class="fas fa-file-upload p-3 d-inline-block font-size24 rounded-3"></i>
             		<h5 class="h5 pt-3">Free Updates</h5>
             		<p class="text-muted p-line-height mt-3">This prevents repetitive patterns from impairing the overall facilitates the comparison.</p>
             	</div>
             </div>
			</div>
		</div>
            
	</div>
</section>

<section class="pad100">
	<div class="container">
				<div class="row">

            	<div class="col-12 col-sm-6 align-self-center">
            		<div class="w-100">
            			<img src="images/2.jpg" class="img-fluid rounded-3">
            		</div>            	
            	</div>

            	<div class="col-12 col-sm-6 ps-lg-5 align-self-center">
            		<div class="w-100">
            			<h3 class="color fw-600 mb-3">Crafted For Digital Agency.</h3>
            			<p class="text-muted p-line-height font-size15">The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
            			<div class="row justify-content-between">
            			<div class="col-md-6 col-12">
            				<div class="w-100">
            					<ul class="p-0">
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Fully Responsive</span></li>
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Finance & Restructuring</span></li>
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Audit & Assurance</span></li>
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Trades & Stock Market</span></li>
            					</ul>
            				</div>
            			</div>
            			    <div class="col-md-6 col-12">
            				<div class="w-100">
            					<ul class="p-0">
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Strategy & Planning</span></li>
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Software & Research</span></li>
            						<li class="font-size15 py-1"><i class="far fa-check-circle i-tag-color"></i><span class="ps-3 color m-0">Support & Maintenance</span></li>
            					</ul>
            				</div>
            			</div>
            			</div>
            			<a href="#" class="btn btn-primary text-white mt-1 px-3 py-2">Read More<i class="fas fa-arrow-right ps-2 fa-xs"></i></a>
            		</div>            	
            	</div>
                       	
		</div>
	</div>
</section>

<section class="pad100 bg1">
	<div class="container">

		<div class="col-12">
			<div class="w-100 text-center">
			<h3 class="color fw-600 mb-4">Meet Our Team Expert</h3>
			<p class="text-muted p-line-height">Our design projects are fresh and simple and will benefit your business greatly. <br>Learn more about our work!</p>				
			</div>
		</div>
</div>


		<div class="col-12 pt-5">
			<div class="w-100">
				<div class="owl-carousel owl-theme slider">

                <div class="item">
				<div class="col-12 p-0">
					<div class="w-100 hover">
						<img src="images/3.jpg" class="img-fluid w-100">
						<div class="hover2">
							<div class="hover-text1 p-4">
								<h6 class="m-0">Dennis Rosario</h6>
								<small>C.E.O</small>
							</div>
						</div>
					</div>
				</div>
				</div>

                 <div class="item">
				<div class="col-12 p-0">
					<div class="w-100 hover">
						<img src="images/4.jpg" class="img-fluid w-100">
						<div class="hover2">
							<div class="hover-text1 p-4">
								<h6 class="m-0">BILLY GREGORY</h6>
								<small>Manager</small>
							</div>
						</div>
					</div>
				</div>
				</div>

                <div class="item">
				<div class="col-12 p-0">
					<div class="w-100 hover">
						<img src="images/5.jpg" class="img-fluid w-100">
						<div class="hover2">
							<div class="hover-text1 p-4">
								<h6 class="m-0">CONNIE DUNTON</h6>
								<small>Manager</small>
							</div>
						</div>
					</div>
				</div>
				</div>

                <div class="item">
				<div class="col-12 p-0">
					<div class="w-100 hover">
						<img src="images/6.jpg" class="img-fluid w-100">
						<div class="hover2">
							<div class="hover-text1 p-4">
								<h6 class="m-0">ALBERTA PETTY</h6>
								<small>Manager</small>
							</div>
						</div>
					</div>
				</div>
				</div>

                <div class="item">
			    <div class="col-12 p-0">
					<div class="w-100 hover">
						<img src="images/7.jpg" class="img-fluid w-100">
						<div class="hover2">
							<div class="hover-text1 p-4">
								<h6 class="m-0">SHIRLEY GARCIA</h6>
								<small>Manager</small>
							</div>
						</div>
					</div>
				</div>
				</div>

                <div class="item">
				<div class="col-12 p-0">
					<div class="w-100 hover">
						<img src="images/8.jpg" class="img-fluid w-100">
						<div class="hover2">
							<div class="hover-text1 p-4">
								<h6 class="m-0">MICHAEL WHEELER</h6>
								<small>Manager</small>
							</div>
						</div>
					</div>
				</div>
				</div>

				</div>


		<div class="col-12">
			<div class="w-100">
			<div class="container">
				<div class="row">

				    <div class="col-12 pad">
					<div class="w-100">
					<div class="row">

					<div class="col-md-6 col-12">
						<div class="w-100">
						<h3 class="color fw-600">Our Skills & Expertise</h3>
						<p class="text-muted p-line-height">Our design projects are fresh and simple and will<br>benefit your business greatly. Learn more about our <br>work!</p>
						</div>
					</div>

					<div class="col-md-6 col-12">
						<div class="w-100">
							<ul class="list-unstyled">
								<li class="pb-3">
									<div class="d-flex flex-wrap justify-content-between">
										<span class="pb-1 text-muted">Research</span><span class="pb-1 text-muted">84%</span>
									</div>
									<div class="progress" style="height:6px;">
                                    <div class="progress-bar" role="progressbar" style="width:84%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
								</li>
								<li class="pb-3">
				                    <div class="d-flex flex-wrap justify-content-between">
										<span class="pb-1 text-muted">Sales & Trading</span><span class="pb-1 text-muted">75%</span>
									</div>
									<div class="progress" style="height:6px;">
                                    <div class="progress-bar" role="progressbar" style="width:75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
								</li>
								<li class="pb-3">
									<div class="d-flex flex-wrap justify-content-between">
										<span class="pb-1 text-muted">Investment</span><span class="pb-1 text-muted">79%</span>
									</div>
									<div class="progress" style="height:6px;">
                                    <div class="progress-bar" role="progressbar" style="width:79%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div></li>
								<li class="pb-3">
					                <div class="d-flex flex-wrap justify-content-between">
										<span class="pb-1 text-muted">Finance</span><span class="pb-1 text-muted">95%</span>
									</div>
									<div class="progress" style="height:6px;">
                                    <div class="progress-bar" role="progressbar" style="width:95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
								</li>
							</ul>
						</div>
					</div>

					</div>
					</div>
				    </div>

				</div>
			</div>			
			</div>
		</div>

	</div>
</div>
</section>

<section class="bg2">
    <div class="container d-flex justify-content-end">
    	<div class="col-12 col-md-6 col-lg-4">
        <div class="w-100 rounded-3 d-flex">
<div class="owl-carousel owl-theme">
    <div class="item">
     	<div class="col-12">
    		<div class="w-100 rounded-3 bg-white p-5">
                <img src="images/10.jpg" class="mx-auto w-25 rounded-circle" alt="" title=""/>
                <div class="text-center">
                	<p class="text-muted p-line-height py-3">
                		" The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout. "
                	</p>
                	<h6 class="color font-size15">JOHNNY ROSARIO</h6>
                	<small class="text-muted">C.E.O</small>
                </div>
    	    </div>
    	</div>
    </div>

        <div class="item">
     	<div class="col-12">
    		<div class="w-100 rounded-3 bg-white p-5">
                <img src="images/11.jpg" class="mx-auto w-25 rounded-circle" alt="" title=""/>
                <div class="text-center">
                	<p class="text-muted p-line-height py-3">
                		" The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout. "
                	</p>
                	<h6 class="color font-size15">GALE LAROSE</h6>
                	<small class="text-muted">Manager</small>
                </div>
    	    </div>
    	</div>
    </div>

        <div class="item">
     	<div class="col-12">
    		<div class="w-100 rounded-3 bg-white p-5">
                <img src="images/12.jpg" class="mx-auto w-25 rounded-circle" alt="" title=""/>
                <div class="text-center">
                	<p class="text-muted p-line-height py-3">
                		" The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout. "
                	</p>
                	<h6 class="color font-size15">SHELLY GOODMAN</h6>
                	<small class="text-muted">Manager</small>
                </div>
    	    </div>
    	</div>
    </div>
</div>
    </div>
    </div>
    </div>
</section>

<section class="pad100">
	<div class="container">

		<div class="col-12">
			<div class="w-100 text-center">
			<small class="color1">Blogs</small>
			<h3 class="color fw-600 mb-4 pt-2">Latest Blog & News</h3>
			<p class="text-muted p-line-height">Our design projects are fresh and simple and will benefit your business greatly. <br>Learn more about our work!</p>				
			</div>
		</div>

		<div class="col-12 pt-5">
			<div class="w-100">
				<div class="row justify-content-between justify-content-md-center">

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="w-100 rounded-3 b-1 border">
					<h6 class="px-2 py-1 text-muted bg-white hover3a h6 rounded-3">Corporate</h6>
					<div class="w-100">
						<img src="images/13.jpg" class="img-fluid" alt="" title=""/>
					</div>
					<div class="w-100 p-4">
						<a href="#" class="h5 p-line-height1 text-dark d-block a1 mb-0">Building Your Corporate Identity from Starty</a>
						<p class="text-muted p-line-height m-0 py-2">The most well-known dummy text is the 'Lorem Ipsum', in the 16th century.</p>
						<a href="#" class="btn text-dark p-0 m-0 a2">Read More<i class="fas fa-arrow-right ps-2 fa-xs"></i></a>
					</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="w-100 rounded-3 b-1 border">
					<h6 class="px-2 py-1 text-muted bg-white hover3a h6 rounded-3">Branding</h6>
					<div class="w-100">
						<img src="images/14.jpg" class="img-fluid" alt="" title=""/>
					</div>
					<div class="w-100 p-4">
						<a href="#" class="h5 p-line-height1 text-dark a1 d-block mb-0">The Dark Side of Overnight Success</a>
						<p class="text-muted p-line-height m-0 py-2">The most well-known dummy text is the 'Lorem Ipsum', in the 16th century.</p>
						<a href="#" class="btn text-dark p-0 m-0 a2">Read More<i class="fas fa-arrow-right ps-2 fa-xs"></i></a>
					</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="w-100 rounded-3 b-1 border">
					<h6 class="px-2 py-1 text-muted bg-white hover3a h6 rounded-3">Technology</h6>
					<div class="w-100">
						<img src="images/15.jpg" class="img-fluid" alt="" title=""/>
					</div>
					<div class="w-100 p-4">
						<a href="#" class="h5 p-line-height1 text-dark a1 d-block mb-0">The Right Hand of Business IT World</a>
						<p class="text-muted p-line-height m-0 py-2">The most well-known dummy text is the 'Lorem Ipsum', in the 16th century.</p>
						<a href="#" class="btn text-dark p-0 m-0 a2">Read More<i class="fas fa-arrow-right ps-2 fa-xs"></i></a>
					</div>
					</div>
				</div>

				</div>
			</div>
		</div>
		
	</div>
</section>

<section class="bg3">
	<div class="bg3a pad100">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12 col-md-6 col-lg-8">
					<div class="w-100">
						<h4 class="text-white h1 p-line-height">Make your website unforgettable<br/>Join the Starty community.</h4>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 align-self-center">
				<div class="w-100 text-lg-end">
					<a href="#" class="btn button1 py-2 px-3 fw-600">Join Us Now</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg4 p-50px">
	<div class="container">
        
        <div class="row justify-content-between">

		<div class="col-12 col-md-3">
			<div class="w-100">
				<ul class="d-flex flex-wrap">
					<li class="pad2"><i class="fab fa-facebook-f icon rounded-3"></i></li>
					<li class="pad2"><i class="fab fa-instagram icon rounded-3"></i></li>
					<li class="pad2"><i class="fab fa-twitter icon rounded-3"></i></li>
					<li class="pad2"><i class="fab fa-linkedin-in icon rounded-3"></i></li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="w-100">
				<h6 class="text-white pb-3">Company</h6>
				<ul class="p-0">
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>About us</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Services</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Team</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Pricing</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Blog</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Project</a></li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="w-100">
				<h6 class="text-white pb-3">Usefull Links</h6>
				<ul class="p-0">
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Terms of Services</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Privacy Policy</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Contact Us</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Changelog</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Components</a></li>
				</ul>
			</div>
		</div>

		<div class="col-12 col-md-3">
			<div class="w-100">
				<h6 class="text-white pb-3">Resources</h6>
				<ul class="p-0">
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Theme guide</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Support desk</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>What we offer</a></li>
					<li class="p-10"><a href="#" class="icon-color"><i class="fas fa-angle-right pe-2"></i>Company history</a></li>
				</ul>
			</div>
		</div>

		</div>
	</div>
</section>

<section class="bg4 footer-border p-25px">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-sm-4 text-center text-sm-start">
				<div class="w-100">
					<a href="#">
					<img src="images/logo-light.png" class="img-fluid" alt="" title="" />
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-8 text-center text-sm-end">
				<div class="w-100">
					<p class="footer-color m-0 py-1">2022 © Starty. Design with <i class="fas fa-heart text-danger"></i> by Shreethemes.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.slider').owlCarousel({
    loop:true,
    margin:0,
    nav:true,
    responsive:{
        0:{
            items:2
        },
        600:{
            items:4
        },
        1000:{
            items:6
        }
    }
})
</script>

<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:30,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
</script>

<script type="text/javascript">
$(document).ready(function(){
     $(".line").click(function(){
          $("html").toggleClass("show");
     });
});
</script>

<script type="text/javascript">
$(window).scroll(function(){
  var sticky = $('.sticky'),
      scroll = $(window).scrollTop();

  if (scroll >=150) sticky.addClass('animate__animated animate__fadeInDown fixed');
  else sticky.removeClass('animate__animated animate__fadeInDown fixed');
});
</script>
</body>
</html>