<!DOCTYPE html>
<html>
<head>
	<%- include('common/css') -%>
</head>
<body>


	<%- include('common/Header') -%>


<section class="bg-work2">
	<div class="bg-work1">
		<div class="container">
			<div class="text-center">
				<h1 class="text-white">Portfolio & Works</h1>
				<small class="text-white-50">Showcase of Our Awesome Works in Three Columns</small>
			</div>
		</div>
	</div>
</section>

<section class="pad100 work">
	<div class="container">
		<ul class="d-flex flex-wrap justify-content-center">
				<li class="px-3"><a href="#">All</a></li>
				<li class="px-3"><a href="#">Branding</a></li>
				<li class="px-3"><a href="#">Designing</a></li>
				<li class="px-3"><a href="#">Photography</a></li>
				<li class="px-3"><a href="#">Development</a></li>
		</ul>

        <div class="d-flex flex-wrap justify-content-center">

		<div class="col-12 pt-4">
			<div class="w-100">
			<div class="row justify-content-between">

				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/21.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Leaf and Letter</h6>
							<small class="text-secondary">Branding</small>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/22.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Papers</h6>
							<small class="text-secondary">Designing</small>
							</div>
						</div>
					</div>
				</div>



				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/23.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Headphones</h6>
							<small class="text-secondary">Photography</small>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/24.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Projects</h6>
							<small class="text-secondary">Development</small>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/25.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Cup of Coffee</h6>
							<small class="text-secondary">Branding</small>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/26.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Pen and Books</h6>
							<small class="text-secondary">Designing</small>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/28.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Strawberry</h6>
							<small class="text-secondary">Photography</small>
							</div>
						</div>
					</div>
				</div>


				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/29.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Leaf and Books</h6>
							<small class="text-secondary">Development</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 py-2 col-md-4">
					<div class="w-100 work-img">
						<img src="images/30.jpg" class="img-fluid rounded-3" alt="" title="" />
						<div class="w-100 work-img1 p-3">
							<h5 class="text-end h5">+</h5>
							<div class="transform">
							<h6 class="m-0">The Cactus Plant</h6>
							<small class="text-secondary">Branding</small>
							</div>
						</div>
					</div>
				</div>



	<ul class="d-flex flex-wrap pt-4 justify-content-center">
		<li class="w-page1 me-3"><</li>
		<li class="w-page1 me-3">1</li>
		<li class="w-page me-3">2</li>
		<li class="w-page1 me-3">3</li>
		<li class="w-page1 me-3">></li>
	</ul>

		</div>
	</div>

</div>

	</div>
</section>

<%- include('common/Footer') -%>

<%- include('common/js') -%>

<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:30,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
</script>
<script type="text/javascript">
$(document).ready(function(){
     $(".line").click(function(){
          $("html").toggleClass("show");
     });
});
</script>

<script type="text/javascript">
$(window).scroll(function(){
  var sticky = $('.sticky'),
      scroll = $(window).scrollTop();

  if (scroll >=150) sticky.addClass('animate__animated animate__fadeInDown fixed');
  else sticky.removeClass('animate__animated animate__fadeInDown fixed');
});
</script>
</body>
</html>