<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <section class="paddingsec">
        <div class="container">
            <div class="row">
                <div class="box1">
                    <div class="w100">
                        <h1 class="h1">Fill up form</h1>
                        <form method="post" class="mg" enctype="multipart/form-data">
                        
                            <div class="divmg">
                                <label class="h2">Book's image</label>
                                <div class="center">
                                    <input type="file" name="pname" class="dnone" id="img"/>
                                    <label for="img" class="uploadimg">Book cover image</label>
                                </div>
                            </div>

                            <div class="divmg">
                                <label class="h2">Book's title</label>
                                <div class="center">
                                    <input type="text" name="title" placeholder="Enter book Author name" class='input'/>
                                </div>
                            </div>

                        <div class="divmg">
                            <label class="h2">Author name</label>
                            <div class="center">
                                <input type="text" name="aname" placeholder="Enter book Author name" class='input'/>
                            </div>
                        </div>

                        <div class="divmg">
                            <label class="h2">Rate the book</label>
                            <div class="center">
                                <input type="text" name="rate" placeholder="Enter book rating" class='input'/>
                            </div>
                            </div>

                            <div class="divmg">
                            <label class="h2">Book genre</label>
                            <div class="center">
                                <input type="text" name="bookg" placeholder="Enter Book genre" class='input'/>
                            </div>
                            </div>

                            <div class="divmg">
                                <label class="h2">Book's price</label>
                                <div class="center">
                                    <input type="text" name="price" placeholder="Enter your mother's name" class='input'/>
                                </div>
                                </div>

                                <div class="divmg">
                                    <label class="h2">Father's mobile number</label>
                                    <div class="center">
                                        <input type="text" name="fphone" placeholder="Enter your father's mobile number" class='input' maxlength="10"/>
                                    </div>
                                    </div>

                                    <div class="divmg">
                                        <label class="h2">Gender</label>
                                        <div class="center1">
                                            <input type="radio" name="gender" value="Male"/> <span class='input1'>Male</span>
                                            <input type="radio" name="gender"value="Female"/> <span class='input1'>Female</span>
                                        </div>
                                        </div>
                                    
                            <div class="center">
                                <input type="submit" value="Submit" class='btn'/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>