@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #407BFF;
    font-size: 16px;
    font-family: 'Cinzel', serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.jcc{
    justify-content: center;
}
.signup{
    width: 80%;
    height: 600px;
}
.signupa{
    border-radius: 20px;
    background-color: white;
    padding: 25px;
}
.sec{
    margin: 50px 0;
}
.half{
    width: 50%;
}
.ac{
    align-self: center;
}
.imgwidth{
    width: 100%;
    transform: scale(1);
    animation-name:scaleimg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes scaleimg {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.w100{
    width: 100%;
}
::placeholder{
    color: gray;
    font-weight: 600;
    font-family: 'Cinzel', serif;
    text-transform: capitalize;
}
.form{
    background-color: transparent;
    width: 300px;
}
.input {
    height: 40px !important;
    color: gray;
    text-indent: 15px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s;
    border: 2px solid #407BFF;
}
.input:focus {
    border-bottom: none;
    border-left: 2px solid #407BFF;
    border-right: 2px solid #407BFF;
    border-radius: 100px;
    border-top: none;
}
.label {
    color: #407BFF;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}
.mc{
    margin:0 25px;
}
.mc1{
    margin: 15px 0;
}
.h1{
    color: #407BFF;
    font-size: 40px;
    margin: 15px 0;
}
.btn{
    background-color: #407BFF;
    color: white;
    font-family: 'Cinzel', serif ;
    border: none;
    height: 40px;
    line-height: 23px;
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
    padding: 10px 25px;
}
.btn1{
    background-color: #ffffff;
    color: #407BFF;
    font-family: 'Cinzel', serif ;
    border: none;
    height: 40px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 25px;
}
.btn2{
    background-color: #407BFF;
    color: white;
    font-family: 'Cinzel', serif ;
    border: none;
    height: 40px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
    padding: 5px 25px;
}
.ptagtext {
    color: black;
    font-size: 18px;
    margin: 2px 10px;
}
.homeh1 {
    color: white;
    font-family:'Cinzel', serif;
    margin: 25px 0;
    text-align: center;
}